<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="static/index.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <template>
      <el-radio class="radio" v-model="radio" label="1">备选项</el-radio>
      <el-radio class="radio" v-model="radio" label="2">备选项</el-radio>
    </template>

    <template>
      <el-radio-group v-model="radio2">
        <el-radio :label="3">备选项</el-radio>
        <el-radio :label="6">备选项</el-radio>
        <el-radio :label="9">备选项</el-radio>
      </el-radio-group>
    </template>

  </div>
</body>

<!-- 先引入 Vue -->
<script src="static/vue.js"></script>
<!-- 引入组件库 -->
<script src="static/index.js"></script>
<script>
var vm = new Vue({
  el: "#app",
  data: {
    radio: "1",
    radio2: 3
  },
  watch: {
    radio2: function (value, old) {
      console.log(value, old)
    }
  }
})
</script>
</html>
